<section class="about-section-two" id="about-section">
    <div class="auto-container">
        <div class="parallax-scene parallax-scene-1 anim-icons">
            <span data-depth="0.20" class="parallax-layer icon icon-rainbow-3"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-star-2"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-star-5"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-plane-2"></span>
        </div>

        <div class="sec-title text-center">
            <span class="title">Kinder Introduction</span>
            <h2>Welcome to Baby Care <br>and Kindergarten</h2>
        </div>

        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable you need to be sure there isn't anything embarrassing vestibu lum at eros. Nulla vitae elit libero, a pharetra augue.</div>
                    <ul class="list-style-two">
                        <li>Supporting the Child’s Personality</li>
                        <li>Indoor/Outdoor Games for Little Kids</li>
                        <li>Professional & Qualified Teachers</li>
                        <li>Best Learning School for Kids</li>
                    </ul>
                    <div class="btn-box"><a href="about.html" class="theme-btn btn-style-one">Discover More</a></div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="image wow fadeInLeft"><img src="images/resource/about-img-1.jpg" alt=""></figure>
                        <figure class="image2 wow fadeInRight"><img src="images/resource/about-img-2.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section Two -->