<app-header></app-header>
<app-slider-section></app-slider-section>
<app-about-section></app-about-section>
<app-program-section></app-program-section>
<app-event-section></app-event-section>
<app-coming-soon-section></app-coming-soon-section>
<app-testimonial-section></app-testimonial-section>
<app-call-section></app-call-section>
<app-team-section></app-team-section>
<app-contact-section></app-contact-section>
<app-news-section></app-news-section>
<app-client-section></app-client-section>
<app-footer></app-footer>